{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AdMigle</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css"/>
</head>
<body>
<header class="header_main_page">
    <div class="container">
        <div class="header_content">

            <div class="title_site">
                AdMigle
            </div>

            <div class="buttons_block">
                <button type="button">
                    Зарегестрироваться
                </button>

                <button type="button" id="login-button">
                    Войти
                </button>
                <button class="btn btn-outline-info">
                    <a href="{% provider_login_url 'google' %}?next=/">
                        <i class="fab fa-google"></i>
                        Login with Google
                    </a>
                </button>
            </div>

        </div>
    </div>
</header>
<script>
    document.getElementById("login-button").addEventListener("click", function () {
        window.location.href = "{% url 'login_view' %}";
    });
</script>
</body>
</html>

